/*
 AWESOME GALLERY WIDGET ADMIN STYLE
*/

.agw-container{
	background: #f1f1f1 none repeat scroll 0 0;
    border: 1px solid #ddd;
    padding: 15px 1px 0;
}

.agw-container li {
	background-position: center center;
	background-size: cover;
	border: 1px dashed #999;
	display: inline-block;
	height: 115px;
	position: relative;
	width: 153px;
	margin: 15px 7px 20px;
	float:left;
	background-color:#e7e7e7;
}

.agw-container li .agw_delimg {
	height: 18px;
	cursor: pointer;
	position: absolute;
	top: -24px;
	left: -1px;
	border: 1px #C0392B solid;
	border-radius: 100%;
	width: 18px;
	line-height: 18px;
	color: #C0392B !important;
	font-size: 16px;
}
.agw-container li .agw_addimg {
	height: 19px;
	cursor: pointer;
	position: absolute;
	top: -24px;
	right: -2px;
	border: 1px #27AE60 solid;
	border-radius: 100%;
	width: 19px;
	line-height: 21px;
	color: #27AE60 !important;
	font-size: 14px;
}

.agw-container li .agw-upload_button{
	display: block;
	font-family: dashicons;
	height: 100%;
	max-width: 100%;
	overflow: hidden;
	position: relative;
	width: 100%;
	cursor:pointer;
	color:#444;
}

.agw-container li .agw-upload_button:before{	
	content: '\f306';
	font-size: 55px;
	left: 50%;
	margin-left: -25px;
	margin-top: -7px;
	position: absolute;
	top: 50%;
	
}
.agw-container li .agw-upload_button:hover{
	color:#2EA2CC;
}

.agw-container li input[type="text"]{
	width:180px;
}

.agw-container li.ui-state-highlight{
	background: #FAFCC9;
	border: 1px dashed #ddd;
	height: 115px;
}

.agw-container input:first-child+li > .agw_delimg{
	/*display:none;*/
}

.agw-clearfix:after{
	content: "";
	display: table;
	clear: both;
}