/*
 AWESOME GALLERY WIDGET FRONT STYLE
*/

ul.agw-gallery {
	margin-left: -0.5em!important;
	margin-right: -0.5em!important;
	list-style:none;
}

ul.agw-gallery a{
	outline:none;
}

ul li.agw-gallery-item {
	float: left;
	margin: 0 !important;
    padding: 0.5em !important;		
	box-sizing:border-box;
}

ul.agw-gallery:after {
	display: table;
	content: "";
	clear: both;
}

ul li.agw-gallery-item img {
	width: 100%;
	border:1px solid #ddd;
	padding:5px;
	transition: all 0.3s linear 0s; 
	-webkit-transition: all 0.3s linear 0s;
	-moz-transition: all 0.3s linear 0s;
	-o-transition: all 0.3s linear 0s;	box-shadow:none;
}

.agw-gallery-item img:hover{
	opacity:.85;
}

.agw-gallery-columns-1 .agw-gallery-item {
    width: 100%;
    float: none;
}

.agw-gallery-columns-2 .agw-gallery-item {
    width: 50%
}

.agw-gallery-columns-3 .agw-gallery-item {
    width: 33.3333%
}

.agw-gallery-columns-4 .agw-gallery-item {
    width: 25%
}
